--- 
layout: default 
title: Archives
---


<div class="tags">
    <a href="#allposts">
        <div class="chip">
            <strong>All posts</strong>
        </div>
    </a> 
    
    
    
    {% for category in site.categories %}
         <a href="#{{ category | first | remove:' ' }}">
            <div class="chip">
                <strong>{{ category | first }}</strong>
            </div>
        </a>
    {% endfor %}

</div>

<div class="catbloc archive" id="allposts">
    <h3>All posts</h3>
    <div class="row">
        <ul>
            {% for post in site.posts %}
            <li>

                <section class="col l3 m6 s12 post-preview">
                    <div class="card z-depth-2">
                        <div class="card-image">
                            <a href="{{ site.baseurl }}/{{ post.url }}" class="scale">
                                <div class="img img-scale">
                                    <img src="{{ post.img }}" alt="infinite" class="z-depth-2">
                                </div>
                            </a>
                            <span class="card-title tag">video</span>
                        </div>
                        <div class="card-content">
                            <span class="feat-date">{{ post.date | date: "%d %B %Y" }}</span>
                            <a href="#">
                                <a href="{{ site.baseurl }}/{{ post.url }}">
                                    <h5>{{ post.title }}</h5>
                                </a>
                            </a>
                        </div>
                        <a class="cont" href="{{ site.baseurl }}/{{ post.url }}"><span>Continue</span><i class="fa fa-chevron-right"></i></a>
                    </div>
                </section>


            </li>


            {% endfor %}
        </ul>
    </div>

</div>

{% for category in site.categories %}
<div class="catbloc archive" id="{{ category | first | remove:' ' }}">
    <h3>{{ category | first }}</h3>

    <div class="row">
        <ul>
            {% for posts in category %} {% for post in posts %} {% if post.url %}
            <li>

                <section class="col l3 m6 s12 post-preview">
                    <div class="card z-depth-2">
                        <div class="card-image">
                            <a href="{{ site.baseurl }}/{{ post.url }}" class="scale">
                                <div class="img img-scale">
                                    <img src="{{ post.img }}" alt="infinite" class="z-depth-2">
                                </div>
                            </a>
                            <span class="card-title tag">video</span>
                        </div>
                        <div class="card-content">
                            <span class="feat-date">{{ post.date | date: "%d %B %Y" }}</span>
                            <a href="#">
                                <a href="{{ site.baseurl }}/{{ post.url }}">
                                    <h5>{{ post.title }}</h5>
                                </a>
                            </a>
                        </div>
                        <a class="cont" href="{{ site.baseurl }}/{{ post.url }}"><span>Continue</span><i class="fa fa-chevron-right"></i></a>
                    </div>
                </section>


            </li>
            {% endif %} {% endfor %} {% endfor %}
        </ul>
    </div>

</div>
{% endfor %}