<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12 white-text">
        <div class="footer-head"><span>About Justice Arcade</span>
          <hr>
        </div>
        <p>We love fighting game culture and house music.</p>
      </div>

      <div class="col l4 s12 white-text">
        <div class="footer-head"><span>Contact Us</span>
          <hr>
        </div>
        <div class="social-icons">
          <a href="https://twitter.com/JusticeArcade"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/Justice-Arcade-423523074648510/?ref=aymt_homepage_panel"><i class="fa fa-facebook-official"></i></a>
          <a href="https://www.youtube.com/channel/UCeq_WF0DiAtZO2KslrNWIFQ"><i class="fa fa-youtube-play"></i></a>
        </div>
      </div>

      <div class="col l4 s12 white-text">
        <!--<div class="footer-head"><span>Email Newsletter Coming Soon</span>
          <hr>
        </div>-->
        
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2017 Justice Arcade</div>
  </div>
</footer>
